@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model List<Category>

<div>
	<ul>
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
	</ul>
</div>
